/* Contenedor principal */
.bebidas-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #512e5f;
}

.bebidas-container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6, 1fr); /* 8 columnas por fila */
    gap: 10px; /* Espaciado entre las cajas */
    justify-items: center; /* Centra los elementos dentro de cada caja */
    align-items: center;
}

/* Categorías */
.categorias-wrapper {
    text-align: center;
    
}

.bebida-card {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(204, 102, 0, 1);
    color: white;
    width: 250px;
    height: 200px;
}

.bebida-card:hover {
    transform: translateY(-5px);
}

.bebida-card h4 {
    font-size: 1.3rem;
}

.editar-button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(204, 102, 0, 1);
    width: 100%;
    color: #fff;
    border: none;
    box-shadow: #5b2c6f 2px 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.bebida-card button.editar-button:hover {
    background-color: #5b2c6f;
}

.bebida-card button.eliminar-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.bebida-card button.eliminar-button:hover {
    background-color: #c82333;
}

/* Estilos generales para los formularios de bebidas */

.formulario-bebida{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    height: auto;
    padding: 20px;
}

.formulario-bebida h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.formulario-bebida form {
    display: flex;
    flex-direction: column;
}

.formulario-bebida label{
    font-size: 16px;
    color: #555;
}

.form-control{
    max-width: 200px;
    max-height: 200px;
}

.formulario-bebida input,
.formulario-bebida textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    resize: vertical; /* Para que el textarea pueda redimensionarse verticalmente */
}

/* Estilos adicionales para inputs con errores */
.formulario-bebida input:invalid,
.formulario-bebida textarea:invalid{
    border-color: #dc3545;
}

.formulario-bebida .error-message,
.formulario-nueva-bebida .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}
