/* Cocina Styles */
.cocina-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cocina-title {
    color: #620375;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.cocina-subtitle {
    color: #620375;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.cocina-toggle-btn {
    background-color: #620375;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.cocina-empty {
    color: #888;
    font-size: 1.2rem;
    text-align: center;
}

/* Estilos generales */
.cocina-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .cocina-pedido {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px); /* 4 columnas en pantallas grandes */
    transition: all 0.3s ease-in-out;
    height: fit-content;
}

.cocina-pedido:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }


/* Tiempos y cabeceras */
.cocina-time {
    font-size: 1.1rem;
    font-weight: bold;
    color: #512e5f;
    margin-bottom: 10px;
  }
  
  .cocina-mesa {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #3e3e3e;
    font-weight: 600;
  }

  .cocina-comensales,
.cocina-alergias {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #888;
}

/* Listado de platos */
.cocina-plato {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
  }
  
  .cocina-plato.red {
    color: #d9534f; /* Color rojo para platos principales */
  }
  
  .cocina-plato.purple {
    color: #6f42c1; /* Color púrpura para compartir */
  }

  .cocina-ingredientes {
    font-size: 0.9rem;
    color: #6c757d;
    margin-left: 20px;
  }
  
  .cocina-opciones {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
  }
  

  .cocina-opciones li {
    font-size: 0.9rem;
    color: #6c757d;
    padding-left: 20px;
    position: relative;
  }
  
  .cocina-opciones li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: #6c757d;
    font-size: 1.2rem;
  }

/* Botón de terminado */
.cocina-btn-terminado {
    background-color: #512e5f;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .cocina-btn-terminado:hover {
    background-color: #3d1f40;
  }