/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pedidos-center{
    padding: 20px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0); /* Sombra sutil */
    transition: transform 0.3s ease-in-out; /* Transición suave al abrir/cerrar */
}

.pedido-card {
    display: flex;
    justify-content: space-between;
    box-shadow: #000000 2px 2px 4px;
    padding: 10px;
}

.pedido-status{
    font-size: 1.2rem;
    color: #512e5f;
    margin: 10px;
}

.text-green {
    color: green;
}

.plato-name{
    font-size: 1.2rem;
    margin: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mesa-title{
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.modal-content:hover {
    transform: scale(1.05); /* Efecto de escalado al pasar el mouse */
}

/* Form */
.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.btn{
    color: white;
    background-color: #512e5f;
}

.modal-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #512e5f; /* Color de las etiquetas */
}

.modal-input,
.modal-textarea,
.modal-select {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #512e5f;
    width: 70%;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out; /* Transición de color de borde */
}

.modal-input:focus,
.modal-textarea:focus,
.modal-select:focus {
    border-color: #512e5f; /* Borde morado en el foco */
    outline: none;
}

.modal-textarea {
    resize: vertical;
}

.modal-opciones-group {
    display: flex;
    gap: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-button,
.modal-button-cancel {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Transición suave de color */
}

.modal-button {
    background-color: #512e5f;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
}

.modal-button:hover {
    background-color: #5e3a69; /* Color más oscuro al pasar el ratón */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Efecto de sombra más grande */
}

.modal-button-cancel {
    background-color: #f44336;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-button-cancel:hover {
    background-color: #d32f2f;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
    .modal-form-row {
        flex-direction: column;
    }
}
