/* Estilos del Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, 
    rgba(255, 255, 255, 1) 5%, 
    rgba(155, 94, 125, 0.5) 20%, 
    #512e5f 50%);
    padding: 10px;
    position: sticky;
    top: 0;
}

/* Logo y nombre de la app */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo .logo {
    width: 60%;
    /* Ajusta el tamaño del logo */
    margin: 0 20px;
}