.secondary-subnavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(155, 78, 1);
}

.secondary-subnavbar .btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: #452452
}

.secondary-subnavbar .btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px; /* Ancho máximo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

/* Close Button */
.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

/* Title */
.modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Loading Message */
.loading-text {
    font-size: 16px;
    color: #555;
}

/* No Tables Message */
.no-mesas {
    font-style: italic;
    color: #888;
}

/* Mesas List */
.mesas-list {
    list-style-type: none;
    padding: 0;
}

/* Mesa Item */
.mesa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Recover Button */
.recover-btn {
    margin: 15px;
    background-color: #512e5f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover Effect for Recover Button */
.recover-btn:hover {
    background-color: #452452;
}

/* Modal Overlay */
.password-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.password-modal-content {
    background-color: #512e5f;  /* Color principal */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Modal Title */
.password-modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

/* Close Button */
.password-modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Password Input Container */
.password-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Password Input */
.password-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

/* Show Password Button */
.password-show-btn {
    background-color: #9b4e01;  /* Color secundario */
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

/* Set Password Button */
.password-btn {
    width: 100%;
    padding: 10px;
    background-color: #9b4e01;  /* Color secundario */
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hover effects */
.password-show-btn:hover,
.password-btn:hover {
    background-color: #512e5f;  /* Cambio a color principal en hover */
}

/* Focus styles */
.password-input:focus {
    outline: none;
    border-color: #512e5f; /* Resalta con color principal al hacer foco */
}

/* Estilo para los overlays de los modales */
.modal-overlay-recuperar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal con fondo morado y estilo único para mesas cerradas */
  .modal-content-recuperar {
    background-color: #512e5f; /* Fondo morado para el modal */
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .modal-close-btn-recuperar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
  }
  
  .modal-title-recuperar {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.6em;
  }
  
  .loading-text-recuperar {
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
  }
  
  .no-mesas-recuperar {
    font-size: 1.2em;
    color: #fff;
    font-style: italic;
  }
  
  /* Estilo para la lista de mesas cerradas */
  .mesas-list-recuperar {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .mesa-item-recuperar {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .recover-btn-recuperar {
    background-color: rgb(155, 78, 1); /* Naranja */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .recover-btn-recuperar:hover {
    background-color: #7a487b; /* Un tono más claro de naranja */
  }
  
 /* Estilo para el contenedor del menú hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;  /* Tamaño ajustable */
    height: 24px;  /* Asegura que haya suficiente espacio para las tres líneas */
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    cursor: pointer;
}

/* Estilo para la línea del menú */
.hamburger-icon {
    background-color: #ffffff;  /* Color oscuro */
    height: 3px;  /* Grosor de las líneas */
    width: 8%;
    position: relative;
    transition: all 0.3s ease;
}

/* Añadir el pseudo-elemento para la segunda y tercera línea */
.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    background-color: #ffffff;
    height: 3px;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease;
}

/* Posición de las líneas superior e inferior */
.hamburger-icon::before {
    top: -7px;  /* Línea superior */
}

.hamburger-icon::after {
    top: 7px;  /* Línea inferior */
}

/* Estilo cuando el menú hamburguesa se abre */
.hamburger-menu.open .hamburger-icon {
    transform: rotate(45deg);  /* Rota la línea central */
}

.hamburger-menu.open .hamburger-icon::before {
    top: 0;  /* La línea superior se mueve al centro */
    transform: rotate(90deg);  /* Rotación para crear la X */
}

.hamburger-menu.open .hamburger-icon::after {
    top: 0;  /* La línea inferior se mueve al centro */
    transform: rotate(90deg);  /* Rotación para crear la X */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Muestra el menú hamburguesa en pantallas pequeñas */
    .hamburger-menu {
        display: flex;
    }

    /* Esconde el menú de navegación por defecto */
    .secondary-subnavbar {
        display: none;
    }

    /* Muestra el menú de navegación cuando está abierto */
    .secondary-subnavbar.open {
        display: block;
    }

    /* Estilo para los botones en pantallas pequeñas */
    .btn {
        width: 100%;
        text-align: left;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 16px;
    }
    .modal-content-recuperar {
        width: 75%;
    }
}
