/* Estilos del Navbar */
.subnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(204, 102, 0, 1);
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}

/* Estilo para los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Centra los elementos de la lista */
    flex-grow: 1;  /* Asegura que ocupe el espacio disponible */
}

/* Estilo para los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Centra los elementos de la lista */
    flex-grow: 1;  /* Asegura que ocupe el espacio disponible */
    gap: 20px;  /* Espaciado entre los enlaces */
}

.nav-links li {
    display: inline-block; /* Asegura que los li no se estiren */
    margin-top: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease;
}